.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: var(--mui-palette-primary-contrastText);
	justify-content: center;
	align-items: center;
}
.card {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	padding: 40px;
	gap: 10px;
}
.boxButtons {
	display: flex;
	justify-content: center;
}
.buttonAlert {
	//	width: 50%;
}
.buttonToast {
	//	width: 25%;
}
